# Lab 5: Pandas Introduction

### Author: <font color='red'> Aliyah Lewis </font>

## Verify installation of Pandas

In [1]:
# Verify Pandas libraries are installed
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# Display version information
print("NumPy version:", np.__version__)
print("Pandas version:", pd.__version__)

NumPy version: 1.26.4
Pandas version: 2.2.0

C:\Users\Cosmic\AppData\Local\Temp\ipykernel_29168\1034663105.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Import two more Python libraries ...
import csv
import os

## PART A: Pandas Series (50 pts - 2pts/step)
### Creating Pandas Series

The base data structure of Pandas is the __Series object__. It is a one-dimensional array, similar to a NumPy array, but also has special index capabilities. Think of a __Series__ as a column in a table, a one-dimensional array that can hold data of any type. A simple way to create a Series object is by using a Python __list__, NumPy __array__, or a Python __dictionary__.

Unlike a standard array, a __Series__ object has an index labels 

    - If no index labels are defined, the default is (integer) index numbers (eg. 0,1,2,3,...)
    - If user-defined index labels are defined, the elements of a Series can be accessed using EITHER the (integer) index numbers OR the user-defined index labels
    
    EXAMPLE-1: pd.Series(['apple','banana','cherry'])
    EXAMPLE-2: pd.Series(['apple','banana','cherry'], index=['A','B','C'])
       
       0  apple             A  apple       
       1  banana     OR     B  banana
       2  cherry            C  cherry



__ADDITIONAL REFERENCES & EXAMPLES__

w3schools.com site (Pandas Series creation examples)

- REF: https://www.w3schools.com/python/pandas_series.asp
    
pandas.pydata.org site (information about Pandas Series attributes):

- REF: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
    
Here are a few commonly used attributes of a Series:

__ATTRIBUTES__

- index  ~ Return the index (axis labels).
- values ~ Return Series as ndarray or ndarray-like depending on the dtype.
- ndim   ~ Number of dimensions of the underlying data, by definition 1.
- shape  ~ Return a tuple of the shape of the underlying data.
- size   ~ Return the number of elements in the underlying data.
- values ~ Return Series as ndarray or ndarray-like depending on the dtype.

Let's try a few ...

<span style="color:blue">
<h3>Display various Series Attributes:</h3><br>    
Using the Panda Series named <strong>S1</strong> ...<br>
    1.Set variable <strong>S1_VALUES</strong> to the values of <strong>S1</strong> <br>
    2.Set variable <strong>S1_INDEX</strong> to the index of <strong>S1</strong> <br>    
    3.Set variable <strong>S1_NDIM</strong> to the number of dimensions of <strong>S1</strong> <br>
    4.Set variable <strong>S1_SHAPE</strong> to the shape of <strong>S1</strong> <br>
</span>

In [3]:
# DO NOT MODIFY !!!
# Create a Pandas Series from a Python list with different data types
S1 = Series (['WTCC', 'CSC221', .0001, 'Spring', 2023])

In [4]:
# INSERT CODE FOR STEPS 1 - 4
S1_VALUES = S1.values
S1_INDEX = S1.index
S1_NDIM = S1.ndim
S1_SHAPE = S1.shape

In [5]:
# DO NOT MODIFY !!!
# Print the Series values 
print(f"S1_VALUES: {S1_VALUES}")
print(f"S1_INDEX: {S1_INDEX}")
# Print the Series attributes
print(f"S1_NDIM: {S1_NDIM}")
print(f"S1_SHAPE: {S1_SHAPE}")

S1_VALUES: ['WTCC' 'CSC221' 0.0001 'Spring' 2023]
S1_INDEX: RangeIndex(start=0, stop=5, step=1)
S1_NDIM: 1
S1_SHAPE: (5,)

### Series Creations

Although the most common way to create a __Series__ is using a Python __List__, you can also create a Series object using a Python __dictionary__ {key:value,key:value,...}. The __keys__ become the labels.

__NOTE the difference between the two -- specifically the first column -- the index__

<span style="color:blue">
<h3>Create a Series using a Python List and a Python Dictionary:</h3><br>    
    5.Create a Pandas <strong>Series</strong> named <strong>S2_MONTH_LIST</strong> using a <strong>Python list</strong> containing <strong>[31,28,31,30,31]</strong>. <br>
    6.Create another Pandas <strong>Series</strong> named <strong>S2_MONTH_LIST2</strong> using a <strong>Python list</strong> containing <strong>[31,28,31,30,31]</strong> but adding a user-defined INDEX.
    <ul>
        <li>Index values: 'Jan', 'Feb', 'Mar', 'Apr', 'May'.</li>
    </ul>
    7.Create a Pandas <strong>Series</strong> named <strong>S2_MONTH_DICT</strong> using a <strong>Python dictionary</strong> containing <strong>{'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31}</strong>
</span>

In [6]:
# INSERT CODE FOR STEPS 5 - 7
S2_MONTH_LIST = Series ([31,28,31,30,31])
S2_MONTH_LIST2 = Series ([31,28,31,30,31], index = ['Jan', 'Feb', 'Mar', 'Apr', 'May'])
S2_MONTH_DICT = Series ({'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31})

In [7]:
# DO NOT MODIFY !!!
print(f"S2_MONTH_LIST\n{S2_MONTH_LIST}\n")
print(f"S2_MONTH_LIST2\n{S2_MONTH_LIST2}\n")
print(f"S2_MONTH_DICT\n{S2_MONTH_DICT}\n")

S2_MONTH_LIST
0    31
1    28
2    31
3    30
4    31
dtype: int64

S2_MONTH_LIST2
Jan    31
Feb    28
Mar    31
Apr    30
May    31
dtype: int64

S2_MONTH_DICT
Aug    31
Sep    30
Oct    31
Nov    30
Dec    31
dtype: int64

<div class="alert alert-block alert-info">
    <b>NOTE: </b> Printing a Pandas Series results in <b>two columns</b> of output.<br><br>
    The first column is <b>NOT</b> Series data; it contains <b>index labels</b>.The second column contains the <b>values</b> of the Series object.<br><br>
    Each row represents the index label and the value for that label.<br>
    <ul>
    <li>If a Series is created <b>without</b> specifying an explicit index, Pandas automatically creates a <b>0-based index</b>, as with lists and NumPy arrays. Elements of a Series object can be accessed through the index using regular indexing brackets: [ ].</li></br>
    <li>If a Series is created <b>with a user-defined index</b> (i.e. labels) using a Python <b>dictionary</b> OR using the <b>index=</b> parameter, elements of a Series object can be accessed using EITHER the <b>index labels OR the 0-based index</b>.</li>
    </ul>
</div>

### Accessing values using the Index

<span style="color:blue">
<h3>Create a new Series object specifying an explicit index</h3>
    8. Create a new <strong>Series</strong> named <strong>S3_TRAFFIC_LIGHT</strong> using an <strong>explicit index</strong>.
    <ul>
    <li>Use a DICTIONARY with KEYS <strong>'STOP','YIELD','GO'</strong> and VALUES <strong>'red','yellow','green</strong>.</li> 
    </ul>
    9.Set variable <strong>S3_VALUES</strong> to the values of <strong>S3_TRAFFIC_LIGHT</strong> <br>
    10.Set variable <strong>S3_INDEX</strong> to the index values of <strong>S3_TRAFFIC_LIGHT</strong> <br>    
</span>

In [8]:
# INSERT CODE FOR STEPS 8 - 10
S3_TRAFFIC_LIGHT = Series ({'STOP': 'red', 'YIELD': 'yellow', 'GO': 'green'})
S3_VALUES = S3_TRAFFIC_LIGHT.values
S3_INDEX = S3_TRAFFIC_LIGHT.index

In [9]:
# DO NOT MODIFY !!!
# Print the Series values 
print(f"S3_VALUES: {S3_VALUES}")
print(f"S3_INDEX: {S3_INDEX}\n")
# Print the Series S3_Traffic_Light
print(f"S3_TRAFFIC_LIGHT:\n{S3_TRAFFIC_LIGHT}")

S3_VALUES: ['red' 'yellow' 'green']
S3_INDEX: Index(['STOP', 'YIELD', 'GO'], dtype='object')

S3_TRAFFIC_LIGHT:
STOP        red
YIELD    yellow
GO        green
dtype: object

<span style="color:blue">
    <h3>Access/Modify values using index values</h3>
    11.Set variable <strong>S3_STOP_VALUE</strong> to the value associated with index <strong>'STOP'</strong><br>
    12.Set variable <strong>S3_GO_VALUE</strong> to the value associated with index <strong>'GO'</strong> <br> 
    <ul>
        <li>BUT you <strong>MUST</strong> use the 0-based index (NOT the label!)</li>
    </ul>
    13.Set variable <strong>S3_ROWS_12</strong> to the values in <strong>Row1 and Row2</strong><br>
    14.Update the value associated with index <strong>'YIELD'</strong> to <strong>'Hurry!'</strong> <br>
    15.Update the value associated with index <strong>'STOP'</strong> to <strong>'OH NO!'</strong><br>
    <ul>
        <li>BUT you <strong>MUST</strong> use the 0-based index (NOT the label!)</li>
    </ul>
</span>

In [10]:
# INSERT CODE FOR STEPS 11 - 15
S3_STOP_VALUE = S3_TRAFFIC_LIGHT.iloc[0]
S3_GO_VALUE = S3_TRAFFIC_LIGHT.iloc[2]
S3_ROWS_12 = S3_TRAFFIC_LIGHT.head(2).values
S3_TRAFFIC_LIGHT.iloc[1] = 'Hurry!'
S3_TRAFFIC_LIGHT.iloc[0] = 'OH NO!'

In [11]:
# DO NOT MODIFY !!!
# Print values accessed by indices
print(f"S3_STOP_VALUE: {S3_STOP_VALUE}")
print(f"S3_GO_VALUE: {S3_GO_VALUE}\n")
print(f"S3_ROWS_12:\n{S3_ROWS_12}\n")

# Print updated Series values
print(f"S3_TRAFFIC_LIGHT Updated Series:\n{S3_TRAFFIC_LIGHT}")

S3_STOP_VALUE: red
S3_GO_VALUE: green

S3_ROWS_12:
['OH NO!' 'Hurry!']

S3_TRAFFIC_LIGHT Updated Series:
STOP     OH NO!
YIELD    Hurry!
GO        green
dtype: object

### DateTimeIndex

A common usage for a Series is to represent a <b>time series</b> that associates date/time index labels with values. 

A date range can be created using the Pandas method <b>pd.date_range()</b>.

- REF: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html

A data range index in Pandas is referred to as a <b>DatetimeIndex</b>, which is a Pandas index optimized to index data with dates and times.

- REF: https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html

Let's create a one ...

<span style="color:blue">
    <h3>Create a DateTimeIndex </h3>
16. Use the <strong>pd.date_range(...)</strong> command to create a <strong>DatetimeIndex</strong> named <strong>INDEX_DATES</strong> with indices:
    <ul>
        <li><strong>'2023-01-01'</strong> -thru- <strong>'2023-01-08'</strong> (inclusive)</li>
    </ul>
17. Create a <strong>Series</strong> named <strong>S4_JAN_MAXS</strong> with high temperature values for Raleigh this year <strong>[66,63,73,68,70,59,54,41]</strong> and <strong>dates for the index</strong> <br>
</span>

In [12]:
# INSERT CODE FOR STEPS 16-17
INDEX_DATES = pd.date_range(start = '2023-01-01', end = '2023-01-08')
S4_JAN_MAXS = Series ([66,63,73,68,70,59,54,41], index = INDEX_DATES)

In [13]:
## DO NOT MODIFY !!!
print(f"INDEX_DATES:\n{INDEX_DATES}")
print(f"MAX RALEIGH JANUARY TEMPS:\n{S4_JAN_MAXS}")

INDEX_DATES:
DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08'],
              dtype='datetime64[ns]', freq='D')
MAX RALEIGH JANUARY TEMPS:
2023-01-01    66
2023-01-02    63
2023-01-03    73
2023-01-04    68
2023-01-05    70
2023-01-06    59
2023-01-07    54
2023-01-08    41
Freq: D, dtype: int64

__STATISTICAL METHODS__

The same Statistical methods you saw with NumPy can be applied to a Pandas Series -- including mean, median, standard deviation, etc.

    REF: https://pandas.pydata.org/pandas-docs/stable/reference/series.html#computations-descriptive-stats

Here are just a few:

- Series.max(...)    ~ Return the maximum of the values over the requested axis.
- Series.mean(...)   ~ Return the mean of the values over the requested axis.
- Series.median(...) ~ Return the median of the values over the requested axis.
- Series.min(...)    ~ Return the minimum of the values over the requested axis.
- Series.sum(...)    ~ Return the sum of the values over the requested axis.

Let's try a few using the Series created above (<b>S4_JAN_MAXS</b>)

<span style="color:blue">
    <h3>Try a few statistical methods ...</h3>
    18.Set variable <strong>JAN_MAX</strong> to the <strong>max</strong> value of <strong>S4_JAN_MAXS</strong> <br> 
    19.Set variable <strong>JAN_MIN</strong> to the <strong>min</strong> value of <strong>S4_JAN_MAXS</strong> <br> 
    20.Set variable <strong>JAN_MEAN</strong> to the <strong>mean</strong> value of <strong>S4_JAN_MAXS</strong> <br> 
</span>

In [14]:
# INSERT CODE FOR STEPS 18 - 20
JAN_MAX = S4_JAN_MAXS.max()
JAN_MIN = S4_JAN_MAXS.min()
JAN_MEAN = S4_JAN_MAXS.mean()

In [15]:
# DO NOT MODIFY !!!
print(f"JAN_MAX: {JAN_MAX}")
print(f"JAN_MIN: {JAN_MIN}")
print(f"JAN_MEAN: {JAN_MEAN}")

JAN_MAX: 73
JAN_MIN: 41
JAN_MEAN: 61.75

__ADDITION / SUBTRACTION / MULTIPLY / DIVIDE__

__NOTE:__ You can __add (+)__ , __subtract (-)__ , __multiply (*)__ and __divide (/)__ Series values as well

Let's give it a try ...

<span style="color:blue">
    <h3>Try some mathematical methods ...</h3>
    21. Create a new <strong>Series</strong> named <strong>S5_JAN_MINS</strong> with minimum temperature values for Raleigh this year: <strong>[48,43,52,61,47,50,33,31]</strong> and <strong>INDEX_DATES</strong> (created above) for the index <br>
    22. Create a <strong>Series</strong> named <strong>TEMP_DIFFS</strong> with temperature <strong>differences</strong> between the <strong>S4_JAN_MAXS</strong> and <strong>S5_JAN_MINS</strong> temperature: 
    <ul>
        <li>Subtract S5_JAN_MINS from S4_JAN_MAXS -- your results should be positive values!</li>
    </ul>
    23. Create a <strong>Series</strong> named <strong>TEMP_SUM</strong> by adding the temperatures of <strong>S4_JAN_MAXS</strong> and <strong>S5_JAN_MINS</strong><br>
    24. Create a <strong>Series</strong> named <strong>TEMP_AVG</strong> by dividing <strong>TEMP_SUM</strong> by <strong>2</strong><br>
    25. Create a <strong>Series</strong> named <strong>TEMP_90PCT</strong> by multiplying <strong>S5_JAN_MINS</strong> by <strong>.90</strong> (90%).
</span>

In [16]:
# INSERT CODE FOR STEPS 21-25
S5_JAN_MINS = Series ([48,43,52,61,47,50,33,31], index = INDEX_DATES)
TEMP_DIFFS = S4_JAN_MAXS - S5_JAN_MINS 
TEMP_SUM = S4_JAN_MAXS + S5_JAN_MINS
TEMP_AVG = TEMP_SUM / 2
TEMP_90PCT = S5_JAN_MINS * 0.90

In [17]:
# DO NOT MODIFY !!!
# Display both Series values - MAX & MIN for reference
print(f"S4_JAN_MAXS:\n {S4_JAN_MAXS.values}\n")
print(f"S5_JAN_MINS:\n {S5_JAN_MINS.values}\n")

print(f"TEMP_DIFFS:\n {TEMP_DIFFS.values}")
print(f"TEMP_SUM:\n {TEMP_SUM.values}")
print(f"TEMP_AVG:\n {TEMP_AVG.values}")
print(f"TEMP_90PCT:\n {TEMP_90PCT.values}")

S4_JAN_MAXS:
 [66 63 73 68 70 59 54 41]

S5_JAN_MINS:
 [48 43 52 61 47 50 33 31]

TEMP_DIFFS:
 [18 20 21  7 23  9 21 10]
TEMP_SUM:
 [114 106 125 129 117 109  87  72]
TEMP_AVG:
 [57.  53.  62.5 64.5 58.5 54.5 43.5 36. ]
TEMP_90PCT:
 [43.2 38.7 46.8 54.9 42.3 45.  29.7 27.9]

## PART B: DataFrame Object: (30 pts - 2pts/step)

If you want to have more than one **Series** of data that is _aligned by a common index_, then a Pandas **DataFrame** is used. A **DataFrame** is like a database table, where **each column** has the same type of data, but the columns can have different types of data. Columns in a **DataFrame** object can be accessed using an array indexer [] with the name of the column or a list of column names.


There is an indexing difference between **DataFrame** objects and **Series** objects. If you pass a **list** to the **indexing [ ] operator** of a **DataFrame**, it retrieves the specified **columns**, whereas a **Series** uses the list as index labels to retrieve rows. 

So, with a **DataFrame** object, if the name of a column *does not have spaces*, you can **use the column name** to access the column of data in a **DataFrame** (i.e. 'dot' syntax), for example: __TEMPDF.Atlanta__ instead of __TEMPDF['Atlanta']__

### DataFrame Creation

<span style="color:blue">
    <h3>Creating DataFrames ...</h3>
        1. Create a <strong>DataFrame</strong> object named <strong>DF_RAL_CLT</strong> with <strong>two columns</strong> using the two Series objects created for you (below): <strong>RAL_TEMPS</strong> and <strong>CLT_TEMPS</strong>.
    <ul>
    <li>Give them <strong>column names</strong> of <strong>'Raleigh'</strong> and <strong>'Charlotte'</strong>.</li>
    </ul>
    2.Set variable <strong>RAL</strong> to the column of <strong>DF_RAL_CLT</strong> with the name <strong>'Raleigh'</strong> <br>
    3.Set variable <strong>CLT</strong> to the column of <strong>DF_RAL_CLT</strong> with the name <strong>'Charlotte'</strong>
    <ul>
        <li><strong>YOU MUST USE 'dot' syntax to reference the column name!!!</strong></li>
    </ul>
    4.Create <strong>DF_CLT_RAL</strong> containing both columns in <strong>DF_RAL_CLT</strong> in the <strong>reverse order</strong> [Charlotte column 1st and Raleigh column 2nd] <br>
</span>

In [18]:
################################################################################
# THIS CODE IS PROVIDED FOR YOU -- JUST RUN IT TO CREATE 2 SERIES OBJECTS!!!
################################################################################
RALEIGH_AUG_2022 = [92, 94, 94, 95, 94, 93, 93, 95]
CHARLOTTE_AUG_2022= [85, 92, 94, 93, 91, 91, 92, 93]
INDEX_DATES = pd.date_range ('2022-08-01', '2022-08-08')
RAL_TEMPS = pd.Series(RALEIGH_AUG_2022,index=INDEX_DATES)
CLT_TEMPS = pd.Series(CHARLOTTE_AUG_2022,index=INDEX_DATES)
#print("RAL_TEMPS:\n", RAL_TEMPS)
#print("CLT_TEMPS:\n", CLT_TEMPS)

In [32]:
# INSERT CODE FOR STEPS 1 - 4
DF_RAL_CLT = pd.DataFrame({'Raleigh':RAL_TEMPS, 'Charlotte':CLT_TEMPS})
RAL = DF_RAL_CLT.Raleigh
CLT = DF_RAL_CLT.Charlotte
DF_CLT_RAL = DF_RAL_CLT.iloc[:,::-1]

In [33]:
# DO NOT MODIFY !!!
print("\nDATAFRAME DF_RAL_CLT\n", DF_RAL_CLT)
print("\nRALEIGH\n", RAL, sep='')
print("\nCHARLOTTE\n", CLT, sep='')
print("\nDATAFRAME DF_CLT_RAL\n", DF_CLT_RAL)

DATAFRAME DF_RAL_CLT
             Raleigh  Charlotte
2022-08-01       92         85
2022-08-02       94         92
2022-08-03       94         94
2022-08-04       95         93
2022-08-05       94         91
2022-08-06       93         91
2022-08-07       93         92
2022-08-08       95         93

RALEIGH
2022-08-01    92
2022-08-02    94
2022-08-03    94
2022-08-04    95
2022-08-05    94
2022-08-06    93
2022-08-07    93
2022-08-08    95
Freq: D, Name: Raleigh, dtype: int64

CHARLOTTE
2022-08-01    85
2022-08-02    92
2022-08-03    94
2022-08-04    93
2022-08-05    91
2022-08-06    91
2022-08-07    92
2022-08-08    93
Freq: D, Name: Charlotte, dtype: int64

DATAFRAME DF_CLT_RAL
             Charlotte  Raleigh
2022-08-01         85       92
2022-08-02         92       94
2022-08-03         94       94
2022-08-04         93       95
2022-08-05         91       94
2022-08-06         91       93
2022-08-07         92       93
2022-08-08         93       95

__ARITHMETIC OPERATIONS__

Arithmetic operations between columns within a __DataFrame__ are identical to operations on multiple __Series__.
Each column in a __DataFrame__ is a __Series__ so the use of mathematical operators is applicable. Ex: [+ - * /  // % **]

__NOTE:__ You can also add new columns to a __DataFrame__ using the syntax:

    <DataFrame>['columnheading'] = <DataFrame-to-Add>
 
Let's do a little DataFrame arithmetic ...

<span style="color:blue">
    <h3>Use some math functions and add some new columns</h3>
5. Calculate the <strong>temperature difference</strong> between the two cities and save the results in <strong>DIFF_RAL_CLT</strong>
    <ul>
        <li>Use DataFrame <b>DF_RAL_CLT</b> and subtract Charlotte from Raleigh</li>
    </ul>
6. Calculate the <strong>Raleigh</strong> temperatures in <strong>Celcius ((F -32) * 5) / 9)</strong> and save the results in <strong>RAL_TEMPC</strong> <br>
7. Calculate the <strong>Charlotte</strong> temperatures in <strong>Celcius ((F -32) * 5) / 9)</strong> and save the results in <strong>CLT_TEMPC</strong> <br>    
8. Add a new column to <strong>DF_RAL_CLT</strong> with the <strong>DIFF_RAL_CLT</strong> values and the column heading <strong>'Diff'</strong>. <br>
9. Add a new column to <strong>DF_RAL_CLT</strong> with the <strong>RAL_TEMPC</strong> values and the column heading <strong>'Ral-Celcius'</strong>. <br>
10. Add a new column to <strong>DF_RAL_CLT</strong> with the <strong>CLT_TEMPC</strong> values and the column heading <strong>'Clt-Celcius'</strong>. 
</span>

In [42]:
# INSERT CODE FOR STEPS 5 - 10
DIFF_RAL_CLT = DF_RAL_CLT.Raleigh - DF_RAL_CLT.Charlotte
RAL_TEMPC = ((DF_RAL_CLT.Raleigh - 32) * 5) / 9
CLT_TEMPC = ((DF_RAL_CLT.Charlotte - 32) * 5) / 9
DF_RAL_CLT['Diff'] = DIFF_RAL_CLT
DF_RAL_CLT['Ral-Celcius'] = RAL_TEMPC
DF_RAL_CLT['Clt-Celcius'] = CLT_TEMPC

In [43]:
# DO NOT MODIFY !!!

# Print the temperature difference between the two cities
print("DIFF_RAL_CLT DataFrame\n", DIFF_RAL_CLT, sep='')

# Print the Raleigh temperatures in Celcius 
print("\nRAL_TEMPC DataFrame\n", RAL_TEMPC, sep='')

# Print the Charlotte temperatures in Celcium
print("\nCLT_TEMPC DataFrame\n", CLT_TEMPC, sep='')

# Print DF1 with 3 new columns
print("\nUpdated DF_RAL_CLT DataFrame\n", DF_RAL_CLT)

DIFF_RAL_CLT DataFrame
2022-08-01    7
2022-08-02    2
2022-08-03    0
2022-08-04    2
2022-08-05    3
2022-08-06    2
2022-08-07    1
2022-08-08    2
Freq: D, dtype: int64

RAL_TEMPC DataFrame
2022-08-01    33.333333
2022-08-02    34.444444
2022-08-03    34.444444
2022-08-04    35.000000
2022-08-05    34.444444
2022-08-06    33.888889
2022-08-07    33.888889
2022-08-08    35.000000
Freq: D, Name: Raleigh, dtype: float64

CLT_TEMPC DataFrame
2022-08-01    29.444444
2022-08-02    33.333333
2022-08-03    34.444444
2022-08-04    33.888889
2022-08-05    32.777778
2022-08-06    32.777778
2022-08-07    33.333333
2022-08-08    33.888889
Freq: D, Name: Charlotte, dtype: float64

Updated DF_RAL_CLT DataFrame
             Raleigh  Charlotte  Diff  Ral-Celcius  Clt-Celcius
2022-08-01       92         85     7    33.333333    29.444444
2022-08-02       94         92     2    34.444444    33.333333
2022-08-03       94         94     0    34.444444    34.444444
2022-08-04       95         93     2    35.000000    33.888889
2022-08-05       94         91     3    34.444444    32.777778
2022-08-06       93         91     2    33.888889    32.777778
2022-08-07       93         92     1    33.888889    33.333333
2022-08-08       95         93     2    35.000000    33.888889

__DATAFRAME INDEXING__

The __DataFrame__ objects can be __sliced__ to retrieve specific rows using __implicit indexing__. <br>
Entire rows from a __DataFrame__ can be retrieved using:

        - <DataFrame>.loc    ~ explicit indexing
            - Access a group of rows and columns by label(s) or a boolean array.
        - <DataFrame>.iloc   ~ implicit indexing
            -Purely integer-location based indexing for selection by position.
        
Specific rows in a __DataFrame__ object can also be selected using:

        - A __list__ of integer positions (Ex. [1,5,7]) 
        - A __logical expression__ applied to the data in each row (Ex. < > <= >= == ) 

    REF: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#indexing-iteration


Let's use these index methods to retrieve various rows ...

<span style="color:blue">
    <h3>Use index methods to retrive rows of a DataFrame</h3>
    11.Set variable <strong>ROWS_2THRU4</strong> to <strong>DF_RAL_CLT</strong> column <strong>'Diff'</strong> rows with <strong>implicit index locations 2 through 4</strong><br>
    12.Set variable <strong>ROWS_AUG6_AUG8</strong> to <strong>DF_RAL_CLT</strong> rows with dates <strong>‘2022-08-06’, ‘2022-08-07’ and ‘2022-08-08’</strong> using slicing on the <strong>explicit row index</strong><br>
    13.Set variable <strong>ROW_AUG3</strong> to <strong>DF_RAL_CLT</strong> row with date <strong>'2022-08-03'</strong> using <strong>.loc</strong><br>
    14.Set variable <strong>ROWS_257</strong> to <strong>DF_RAL_CLT</strong> column <strong>'Charlotte'</strong> rows with <strong>implicit indices 2, 5, and 7</strong> (0-based location). <br>
    15.Set variable <strong>ROWS_OVER65</strong> to <strong>DF_RAL_CLT</strong> days where the temperature in <strong>'Raleigh'</strong> is <strong>above 93. <br>
</span>

In [76]:
# INSERT CODE FOR STEPS 11 - 15
ROWS_2THRU4 = DF_RAL_CLT.Diff.iloc[:4]
ROWS_AUG6_AUG8 = DF_RAL_CLT.loc[['2022-08-06','2022-08-07','2022-08-08']]
ROW_AUG3 = DF_RAL_CLT.loc[['2022-08-03']]
ROWS_257 = DF_RAL_CLT.Charlotte.iloc[[2, 5, 7]]
ROWS_OVER65 = DF_RAL_CLT.loc[DF_RAL_CLT['Raleigh'] > 93]

In [77]:
# DO NOT MODIFY !!!
print("Diff Column Rows 2-4:\n", ROWS_2THRU4, sep='')
print("\nRows AUG6-AUG8:\n", ROWS_AUG6_AUG8, sep='')
print("\nRow for Aug3:\n", ROW_AUG3, sep='')
#print("\nRow for Aug3 QUESTION:\n", ROW_AUG3, sep='')
print("\nRows 2,5,7 - Charlotte:\n", ROWS_257, sep='')
print("\nRaleigh temp>93:\n", ROWS_OVER65, sep='')

Diff Column Rows 2-4:
2022-08-01    7
2022-08-02    2
2022-08-03    0
2022-08-04    2
Freq: D, Name: Diff, dtype: int64

Rows AUG6-AUG8:
            Raleigh  Charlotte  Diff  Ral-Celcius  Clt-Celcius
2022-08-06       93         91     2    33.888889    32.777778
2022-08-07       93         92     1    33.888889    33.333333
2022-08-08       95         93     2    35.000000    33.888889

Row for Aug3:
            Raleigh  Charlotte  Diff  Ral-Celcius  Clt-Celcius
2022-08-03       94         94     0    34.444444    34.444444

Rows 2,5,7 - Charlotte:
2022-08-03    94
2022-08-06    91
2022-08-08    93
Name: Charlotte, dtype: int64

Raleigh temp>93:
            Raleigh  Charlotte  Diff  Ral-Celcius  Clt-Celcius
2022-08-02       94         92     2    34.444444    33.333333
2022-08-03       94         94     0    34.444444    34.444444
2022-08-04       95         93     2    35.000000    33.888889
2022-08-05       94         91     3    34.444444    32.777778
2022-08-08       95         93     2    35.000000    33.888889

## PART C: Reading & Writing CSV Dataset with Pandas: (20 pts - 2pts/step)

<div class="alert alert-block alert-info">
    <b>IMPORTANT INFORMATION FOR PART C:</b> <br>In PART C, you will be reading data in from a CSV file to create a Pandas DataFrame.
    <ul>
        <li><b>Super Bowl Ratings History.csv</b> = Dataset with Super Bowl Ratings Information (edited)</li>
    </ul>
    <br>
    <b>DATASET FORMAT:</b> 
    
- COLUMN HEADINGS: 'SuperBowl', 'Date', 'Network', 'AVG_viewers', 'TOT_viewers', 'Rating', 'Share', '30secAD_Cost$'
    
<b>NOTE:</b> This data was downloaded from <b>kaggle.com</b>. The data in the CSV file has been edited to remove a few columns and the column heading row.
</div>

<div class="alert alert-block alert-warning"><b>IMPORTANT: </b>
Verify your <strong>current working directory</strong> using <strong>getcwd()</strong>. 
    
The Super Bowl Ratings History CSV file <strong>MUST</strong> be located in the directory displayed as CWD.<br>
</span></div>

### Reading CSV files

A common data format for storing and sharing data is a **CSV** file (i.e command separated value). **Pandas** has a **read_csv()** function to import such files.

- REF: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
- REF: https://www.w3schools.com/python/pandas_csv.asp

Before analyzing the data read into a DataFrame, you'll often want to take a quick look at the data. 

To print all the data in a DataFrame, you can use <b>to_string()</b>  <br>
- REF: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_string.html<br>
    EXAMPLE: <br>
        print(df.to_string())


To print just a subset of the DataFrame, you can use <b>head()</b> and/or <b>tail()</b>. If no value is specified, a <b>default = 5</b> is used.<br>

- REF: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html <br>
- REF: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html <br>

    EXAMPLES: <br>
       df.head() ~ display first 5 rows
       df.head(10) ~ display first 10 rows
       df.tail() ~ display last 5 rows
       df.head(10) ~ display last 10 rows

<span style="color:blue">
    <h3>Reading data from a CSV file</h3>
1. Define variable <strong>cols</strong> as a <strong>list</strong> of column headings for the Super Bowl Ratings History dataset. <br>&nbsp; &nbsp; &nbsp; &nbsp; The column headings were provided above (blue box)<strong>(You should have EIGHT column headings in your list</strong> <br> 
2. Use <strong>pd.read_csv</strong> to read the data file<strong>('Super Bowl Ratings History.csv')</strong> into <strong>DF_SUPERBOWL</strong> using the column headings defined by <strong>cols</strong><br>&nbsp; &nbsp; &nbsp; &nbsp; Remember: To set the column headings, you will need to use the <strong>names = </strong> parameter <br> 
3. Use the <strong>.head()</strong> command to display the first <strong>10</strong> records of the DataFrame <strong>DF_SUPERBOWL</strong>. <br>
    <ul><li><b>NOTE:</b>You do not need to use a print(..) statement with the .head() command. As long as it is the last command in a code cell the values will be displayed and the output looks nicer without using print().</li></ul>
</span>
</span>

In [78]:
print("Current directory =", os.getcwd())
print(os.listdir("."))

# INSERT CODE FOR STEPS 1 - 3
cols = ['SuperBowl', 'Date', 'Network', 'AVG_viewers', 'TOT_viewers', 'Rating', 'Share', '30secAD_Cost$']
DF_SUPERBOWL = pd.read_csv('Super Bowl Ratings History.csv', names=cols)
DF_SUPERBOWL.head(10)

Current directory = C:\Users\Cosmic\Documents\School\CSC 221\Labs\Lab5
['.ipynb_checkpoints', 'Lab5-Pandas-Introduction.ipynb', 'Super Bowl Ratings History.csv']

,SuperBowl,Date,Network,AVG_viewers,TOT_viewers,Rating,Share,30secAD_Cost$
0,I,1/15/1967,NBC,24430000,35600000.0,18.5,36,37500
1,II,1/14/1968,CBS,39120000,51300000.0,36.8,68,54500
2,III,1/12/1969,NBC,41660000,54500000.0,36.0,70,55000
3,IV,1/11/1970,CBS,44270000,59200000.0,39.4,69,78200
4,V,1/17/1971,NBC,46040000,58500000.0,39.9,75,72500
5,VI,1/16/1972,CBS,56640000,67300000.0,44.2,74,86100
6,VII,1/14/1973,NBC,53320000,67700000.0,42.7,72,88100
7,VIII,1/13/1974,CBS,51700000,63200000.0,41.6,73,103500
8,IX,1/12/1975,NBC,56050000,71300000.0,42.4,72,107000
9,X,1/18/1976,CBS,57710000,73300000.0,42.3,78,110000

<span style="color:blue">
<h3>Display some information about this DataFrame</h3>
4. Set variable <strong>SUPERBOWL_COLS</strong> to display the columns in <strong>DF_SUPERBOWL</strong><br>
    - <b>REMEMBER there should be 8</b><br>
5. Set variable <strong>SUPERBOWL_SHAPE</strong> to the shape of <strong>DF_SUPERBOWL</strong><br>
6. Set variable <strong>SUPERBOWL_NDIM</strong> to the number of dimensions of <strong>DF_SUPERBOWL</strong><br>
7. Set variable <strong>SUPERBOWL_DTYPES</strong> to the data types Pandas assigned to the <strong>DF_SUPERBOWL</strong> column data.
</span>

In [85]:
# INSERT CODE FOR STEPS 4 - 7
SUPERBOWL_COLS = DF_SUPERBOWL.columns
SUPERBOWL_SHAPE = DF_SUPERBOWL.shape
SUPERBOWL_NDIM = DF_SUPERBOWL.ndim
SUPERBOWL_DTYPES = DF_SUPERBOWL.dtypes

In [86]:
# DO NOT MODIFY !!!
print(f"SUPERBOWL_COLS:  {SUPERBOWL_COLS}\n")
print(f"SUPERBOWL_SHAPE:  {SUPERBOWL_SHAPE}\n")
print(f"SUPERBOWL_NDIM:  {SUPERBOWL_NDIM}\n")
print(f"SUPERBOWL_DTYPES: {SUPERBOWL_DTYPES}")

SUPERBOWL_COLS:  Index(['SuperBowl', 'Date', 'Network', 'AVG_viewers', 'TOT_viewers', 'Rating',
       'Share', '30secAD_Cost$'],
      dtype='object')

SUPERBOWL_SHAPE:  (55, 8)

SUPERBOWL_NDIM:  2

SUPERBOWL_DTYPES: SuperBowl         object
Date              object
Network           object
AVG_viewers        int64
TOT_viewers      float64
Rating           float64
Share              int64
30secAD_Cost$      int64
dtype: object

### Writing CSV files

Again, a common data format for storing and sharing data is a **CSV** file (i.e command separated value). **Pandas** has a **to_csv()** function to write DataFrames to CSV.

- REF: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
- REF: https://www.w3schools.com/python/pandas_csv.asp

    EXAMPLE: <br>
        df.to_csv(file_name)
        df.to_csv(file_name, sep='\t', encoding='utf-8') ~ to specify a separator ('\t') and encoding
        
If you want to copy one DataFrame to another, you can use the **.copy()** command. Using this command, you can copy the entire DataFrame **OR** just some of the columns by referencing their column headings.

- REF: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.copy.html


    EXAMPLE: <br>
        newdf = olddf.copy()
        newdf = olddf[['col1','col2']].copy()   ~ copies only 'col1' & 'col2' to newdf

<span style="color:blue">
<h3>Write  this DataFrame</h3>
8. Create a new DataFrame named <strong>DF_SUPERBOWL_VIEWERS</strong> containing <strong>ONLY 4 COLUMNS</strong> from <strong>DF_SUPERBOWL</strong><br>
    - Only copy the following columns to the new DataFrame: 'SuperBowl', 'Date', 'AVG_viewers', 'TOT_viewers'<br>
9. Set variable <strong>SUPERBOWL_VIEWERS_SHAPE</strong> to the shape of <strong>DF_SUPERBOWL_VIEWERS</strong><br>
10. Write DataFrame <strong>DF_SUPERBOWL_VIEWERS</strong> to a CSV file named: <strong>'Super Bowl Viewers.csv'</strong><br>
    - Separator should be a comma (,) and encoding 'utf-8'
</span>

In [87]:
# INSERT CODE FOR STEPS 8-10
DF_SUPERBOWL_VIEWERS = DF_SUPERBOWL[['SuperBowl', 'Date', 'AVG_viewers', 'TOT_viewers']].copy()
SUPERBOWL_VIEWERS_SHAPE = DF_SUPERBOWL_VIEWERS.shape
DF_SUPERBOWL_VIEWERS.to_csv('Super Bowl Viewers.csv', encoding='utf-8')

In [88]:
# DO NOT MODIFY !!!
print(f"SUPERBOWL_VIEWERS_SHAPE:  {SUPERBOWL_VIEWERS_SHAPE}\n")
DF_SUPERBOWL_VIEWERS.head(10)

SUPERBOWL_VIEWERS_SHAPE:  (55, 4)

  SuperBowl       Date  AVG_viewers  TOT_viewers
0         I  1/15/1967     24430000   35600000.0
1        II  1/14/1968     39120000   51300000.0
2       III  1/12/1969     41660000   54500000.0
3        IV  1/11/1970     44270000   59200000.0
4         V  1/17/1971     46040000   58500000.0
5        VI  1/16/1972     56640000   67300000.0
6       VII  1/14/1973     53320000   67700000.0
7      VIII  1/13/1974     51700000   63200000.0
8        IX  1/12/1975     56050000   71300000.0
9         X  1/18/1976     57710000   73300000.0